<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要訪問相機以錄製您的羽球動作</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要訪問麥克風以錄製影片聲音</string>
</dict>
</plist>
